<p style="color: green"><%= notice %></p>
<br><br>
<div >
  <p>
    <strong>Title:</strong>
    <%= @product.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
    <p>
    <strong>Category:</strong>
    <%= @product.cotegory %>
  </p>

</div>
<div>
  <%= link_to "Back to products", root_path %>
</div>
